name: API Testing (Postman + Newman)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run Newman tests
        run: npm run test:api

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: cocktail-api-report
          path: reports/cocktail-api-report.html
